body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    height: 100%;
    width: 100%;
    cursor: default;
}

.filter-buttons{
    position: absolute;
    top: 0;
    left: 0;
}

.date-filter{
    position: absolute;
    bottom: 10px;
    left: 120px;
}